.contact {
    text-align: center;
}

.contact h2 {
    margin-bottom: 20px;
}

.contact-info {
    margin: 35px 0;
}

.contact-info p {
    font-size: 1.1rem;
}

.contact-info i {
    color: var(--gold);
    margin-right: 10px;
}