.hero {
    min-height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background:
        linear-gradient(
            90deg,
            rgba(0,0,0,0.85),
            rgba(0,0,0,0.5)
        );
}

.hero-content {
    position: relative;
    z-index: 2;
}

.hero-badge {
    display: inline-block;
    color: var(--gold);
    margin-bottom: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.hero h1 {
    font-size: 5rem;
    color: var(--gold);
    margin-bottom: 20px;
}

.hero h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.hero p {
    max-width: 550px;
    margin-bottom: 35px;
}

.hero-buttons {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.hero-image img {
    border-radius: 20px;
}

@media (max-width: 992px) {

    .hero {
        text-align: center;
        padding-top: 100px;
    }

    .hero h1 {
        font-size: 3rem;
    }

    .hero-buttons {
        justify-content: center;
    }

    .hero-image {
        margin-top: 50px;
    }
}